@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@nuxt/ui";

@theme static {
	--ui-color-neutral-50: oklch(0.9916 0 0);
	--ui-color-neutral-100: oklch(0.9758 0 0);
	--ui-color-neutral-200: oklch(0.9268 0 0);
	--ui-color-neutral-300: oklch(0.8739 0 0);
	--ui-color-neutral-400: oklch(0.7106 0 0);
	--ui-color-neutral-500: oklch(0.5576 0 0);
	--ui-color-neutral-600: oklch(0.44 0 0);
	--ui-color-neutral-700: oklch(0.3716 0 0);
	--ui-color-neutral-800: oklch(0.2692 0 0);
	--ui-color-neutral-900: oklch(0.1822 0 0);
	--ui-color-neutral-950: oklch(0.1451 0 0);

	--ui-color-primary-50: oklch(0.9866 0.0288 120.05);
	--ui-color-primary-100: oklch(0.9676 0.0628 121.5);
	--ui-color-primary-200: oklch(0.9384 0.1189 123.4);
	--ui-color-primary-300: oklch(0.8719 0.1829 125.59);
	--ui-color-primary-400: oklch(0.8416 0.2214 127.63);
	--ui-color-primary-500: oklch(0.7692 0.2165 129.47);
	--ui-color-primary-600: oklch(0.6495 0.1859 130.24);
	--ui-color-primary-700: oklch(0.5331 0.1462 130.1);
	--ui-color-primary-800: oklch(0.4542 0.1157 129.41);
	--ui-color-primary-900: oklch(0.406 0.0943 129.43);
	--ui-color-primary-950: oklch(0.2748 0.0672 130.42);
	--ui-color-primary-1000: oklch(0.1896 0.0494 131.02);

	--font-sans: "Lexend", sans-serif;
}

/* Target the html or a specific container class, not the universal selector */
html::-webkit-scrollbar {
	width: 4px; /* This width should now apply */
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background-color: var(--color-primary-500);
	border-radius: 4px;
}

html {
	@apply selection:bg-primary selection:text-default dark:selection:text-inverted;
	scrollbar-color: var(--color-primary-500) transparent;
	scrollbar-width: 4px;
}
